@import "../theme/default/colors.scss";
@import "../theme/default/spacing.scss";

$colorNames: primary, secondary, neutral, base-200, base-300, danger, warning, success,
  info, text-disabled;

@each $color in $colorNames {
  $colorState: "#{$color}-hover";

  .bg-#{$color} {
    background-color: map-get($colors, $color);
  }

  .bg-transparent {
    background-color: transparent;
  }

  .fill-#{$color} {
    fill: map-get($colors, $color)!important;

    &:hover {
      fill: lighten(map-get($colors, $color), 10)!important;
    }
  }

  .fill-transparent {
    fill: transparent!important;
  }

  .ring {
    box-shadow: 0px 0px 0px 2px var(--info) 00;

    &:focus {
      box-shadow: 0px 0px 0px 2px var(--info);
    }

    &-#{$color}:focus {
      box-shadow: 0px 0px 0px 2px map-get($colors, $color);
    }
  }
}

.btn,
.input {
  height: var(--spacing-xl);
  background-color: transparent;
  border-radius: var(--rounded-box);
  border: none;
  outline: none;
  padding-inline: var(--spacing-box);
  font-size: 0.9125rem;
  transition: all ease 0.2s;

  @each $color in $colorNames {
    $colorState: "#{$color}-hover";

    &:hover,
    &[type="text"]:focus {
      background-color: #00000020;
    }

    &-#{$color} {
      background-color: map-get($colors, $color) !important;

      &:hover,
      &:active,
      &[type="text"]:focus {
        background-color: map-get($colors, #{$color}-hover) !important;
      }
    }

    &.btn-sm,
    &.input-sm {
      height: var(--spacing-lg);
    }

    &.btn-xs,
    &.input-xs{
      height: var(--spacing-sm);
    }

    &-ring {
      box-shadow: 0px 0px 0px 2px var(--info) 00;

      &:focus {
        box-shadow: 0px 0px 0px 2px var(--info);
      }

      &-#{$color}:focus {
        box-shadow: 0px 0px 0px 2px map-get($colors, $color);
      }
    }
  }
}
