@import "../theme/default/colors.scss";
@import "../theme/default/spacing.scss";

.bg-transparent {
  background-color: transparent;
}

.fill-transparent {
  fill: transparent !important;
}

button,
input {
  outline: none;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none !important;
  }
}

.btn,
.input {
  height: var(--spacing-xl);
  background-color: transparent;
  border-radius: var(--rounded-box);
  border: none;
  outline: none;
  padding-inline: var(--spacing-box);
  font-size: 0.9125rem;
  transition: all ease 0.2s;

  &-ghost:hover {
    background-color: var(--neutral-hover);
  }

  &.btn-sm,
  &.input-sm {
    height: var(--spacing-lg);
  }

  &.btn-xs,
  &.input-xs {
    height: var(--spacing-sm);
  }
}

$colorNames: primary, secondary, neutral, base-200, base-300, danger, warning,
  success, info, text-disabled;

@each $color in $colorNames {
  .bg-#{$color} {
    background-color: var(--#{$color});

    & * {
      color: var(--text-content);
    }
  }

  .fill-#{$color} {
    fill: var(--#{$color});
  }

  .ring {
    box-shadow: 0px 0px 0px 2px var(--info) 0;
    transition: all ease 0.2s;

    &:focus {
      box-shadow: 0px 0px 0px 2px var(--info);
    }

    &-#{$color} {
      box-shadow: 0px 0px 0px 2px #00000000;
      transition: box-shadow ease 0.2s;
    }

    &-#{$color}:focus {
      box-shadow: 0px 0px 0px 2px var(--#{$color});
    }
  }

  .btn.btn-#{$color},
  .btn.input-#{$color} {
    background-color: var(--#{$color});
    transition: background-color ease 0.2s;

    &:hover {
      background-color: var(--#{$color}-hover);
    }
  }
}

.btn-neutral,
.btn-primary,
.input-primary,
.input-neutral {
  color: var(--text-neutral-content);
}

.bg-neutral,
.bg-primary {
  & * {
    color: var(--text-neutral-content);
  }
}
