.form {
  &:has(.input:invalid) > button[type="submit"] {
    opacity: 0.5;
    pointer-events: none;

    & > span {
      text-decoration: line-through;
    }

    & > svg {
      display: inline;
    }
  }
}
