:root {
  --select-items: 4;
}

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded-box);

  &:has(.not-selected) {
    min-width: 26ch !important;
  }

  & > .custom-scroll {
    &::-webkit-scrollbar-thumb {
      // background-color: var(--bg-base-200);
    }
    &::-webkit-scrollbar-track {
      border-radius: 0px var(--rounded-box) var(--rounded-box) 0px;
    }
  }

  & > .btn-select {
    text-align: left;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xs);
    min-width: 6rem;

    &:active {
      transform: scale(1);
    }

    &.active {
      border-radius: var(--rounded-box) var(--rounded-box) 0px 0px;
      background-color: var(--neutral);
      z-index: 3;
    }

    &:focus:not(.active) {
      //prettier-ignore
      box-shadow: 0px 0px 0px 2px var(--primary);
    }
  }

  &.bottom {
    & > .btn-select.active {
      border-radius: 0px 0px var(--rounded-box) var(--rounded-box);
    }

    & > .select-items {
      top: auto;
      bottom: 100%;
      border-radius: var(--rounded-box) var(--rounded-box) 0px 0px;
    }
  }

  &-items {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-height: calc(var(--spacing-xl) * var(--select-items));
    overflow-y: auto;
    // background-color: inherit;
    border-radius: 0px 0px var(--rounded-box) var(--rounded-box);

    &:not(.custom-scroll) {
      & > .item:last-child {
        & > button {
          border-radius: 0px 0px var(--rounded-box) var(--rounded-box);
        }
      }

      & > .item {
        & > button {
          border-radius: 0px;
        }
      }
    }

    & > .item {
      border: none;
      background-color: transparent;
      outline: none;
      display: flex;
      align-items: center;

      & > button {
        height: var(--spacing-xl);
        transition: all ease 0.2s;
        outline: none;
        user-select: none;
        font-size: 0.9125rem;
        border: none;
        text-align: left;
        background-color: inherit;
        width: 100%;
        padding-inline: var(--spacing-sm);

        &.active {
          background-color: var(--primary);
          opacity: 0.75;
        }

        &:focus:not(.active) {
          background-color: var(--secondary);
        }
      }
    }
  }
}
