@import "main.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  max-width: 100%;

  &.row {
    flex-direction: row;

    &-disabled {
      opacity: 0.5;
    }

    &-selectable {
      background-color: var(--neutral);
      padding-inline: var(--spacing-xs);
      height: calc(var(--spacing-2xl));
      border-radius: var(--rounded-box);

      &:hover {
        background-color: var(--neutral-hover);
      }
    }
  }

  &.container-lg {
    min-width: 20vw;
  }

  &.spacing {
    padding: var(--spacing-md);
  }

  &.gap-sm {
    gap: var(--spacing-sm);
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.rounded-box {
    border-radius: var(--rounded-box);
    padding: var(--spacing-sm);
  }
}

.group {
  display: flex;

  & > *:last-child {
    flex: 1;
  }

  & > label {
    display: flex;
    align-items: center;
    padding-inline: var(--spacing-xs);
  }

  &-vertical {
    display: flex;
    flex-direction: column;
  }

  &.rounded-box > *:not(:first-child):not(:last-child),
  &-vertical.rounded-box > *:not(:first-child):not(:last-child) {
    border-radius: 0px;
  }

  &.rounded-box > *:first-child:not(:only-child) {
    border-radius: var(--rounded-box) 0px 0px var(--rounded-box);
  }
  &.rounded-box > .select:last-child:not(:only-child) > button,
  &.rounded-box > *:last-child:not(:only-child) {
    border-radius: 0px var(--rounded-box) var(--rounded-box) 0px;
  }

  &-vertical.rounded-box > *:first-child:not(:only-child) {
    border-radius: var(--rounded-box) var(--rounded-box) 0px 0px;
  }
  &-vertical.rounded-box > *:last-child:not(:only-child) {
    border-radius: 0px 0px var(--rounded-box) var(--rounded-box);
  }
}

.divider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;

  & > * {
    position: relative;
    background-color: inherit;
    padding-inline: var(--spacing-xs);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 60%;
    height: 1px;
    width: calc(100%);
    background-color: var(--text-disabled);
  }
}
