@import "../dark.scss";
@import "../light.scss";
@import "../coffe.scss";
@import "../forest.scss";

$themes: (
  coffe: $coffe,
  light: $light,
  dark: $dark,
  forest: $forest,
);

@each $name, $theme in $themes {
  .#{$name} {
    @each $color, $value in $theme {
      --#{$color}: #{$value};
    }
  }
}
