$sizes: 0.5, 1, 1.5, 2, 2.5, 3, 3.5;
$sizesLabels: 'xs', 'sm', 'md', 'lg', 'xl', '2xl', '3xl';
$sizesTypes: 'spacing';

$variablesMap: ();
@each $label in $sizesLabels {
  $index: index($sizesLabels, $label);
  $size: nth($sizes, $index);

  @each $type in $sizesTypes {
    $variableName: '#{$type}-#{$label}';
    $value: $size + rem;

    $variablesMap: map-merge($variablesMap, ($variableName: $value));
  }
}

@mixin generate-sizes-variables() {
  @each $label in $sizesLabels {
    $index: index($sizesLabels, $label);
    $size: nth($sizes, $index);

    @each $type in $sizesTypes {
      $variableName: '#{$type}-#{$label}';
      $value: $size + rem;

      --#{$variableName}: #{$value};
    }
  }
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
  }

:root {
  @each $variable, $value in $variablesMap {
    --#{$variable}: #{$value};
  }
}
