$sizes: 0.5, 1, 1.5, 2, 2.5, 3, 3.5;
$sizesLabels: "xs", "sm", "md", "lg", "xl", "2xl", "3xl";
$sizesTypes: "spacing";

$variablesMap: ();
@each $label in $sizesLabels {
  $index: index($sizesLabels, $label);
  $size: nth($sizes, $index);

  @each $type in $sizesTypes {
    $variableName: "#{$type}-#{$label}";
    $value: $size + rem;

    $variablesMap: map-merge(
      $variablesMap,
      (
        $variableName: $value,
      )
    );
  }
}

@mixin generate-sizes-variables() {
  @each $label in $sizesLabels {
    $index: index($sizesLabels, $label);
    $size: nth($sizes, $index);

    @each $type in $sizesTypes {
      $variableName: "#{$type}-#{$label}";
      $value: $size + rem;

      --#{$variableName}: #{$value};
    }
  }
}

.h-screen {
  height: 100vh;
}
.no-gap {
  gap: 0 !important;
}

.gap-xs {
  gap: var(--spacing-xs) !important;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.between-center {
  align-items: center;
  justify-content: space-between;
}

.w-screen {
  width: 100vw;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.rounded-full {
  border-radius: var(--rounded-full);
}

:root {
  @each $variable, $value in $variablesMap {
    --#{$variable}: #{$value};
  }
}
