th {
  font-weight: 400;
}

.table-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;

  & > .table-content {
    overflow: auto;
    flex: 1;
    background-color: var(--base-200);

    & > .table {
      width: 100%;
    }

    &.custom-scroll {
      position: relative;
    }
  }

  &.pagination {
    overflow: inherit;
  }

  &.scroll {
    overflow: auto;
  }

  &.custom-scroll {
    position: relative;
    scrollbar-gutter: stable;
  }
}

.table {
  border: none;
  border-radius: var(--rounded-box);
  border-collapse: collapse;
  border-spacing: 0;

  & > thead,
  & > tbody {
    & > tr {
      height: var(--spacing-xl);

      & > td,
      & > th {
        outline: none;
        text-align: center;
      }
    }
  }

  & > thead {
    position: sticky;
    top: 0;
    z-index: 1;

    & > tr {
      height: var(--spacing-2xl);
      & > th {
        font-weight: 600;
        height: 100%;
        background-color: var(--neutral);

        & * {
          color: var(--text-neutral-content);
        }

        & .table-column {
          position: relative;
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: space-between;
          padding-inline: var(--spacing-sm);
          gap: calc(var(--spacing-xs) / 2);

          & > span {
            &:first-letter {
              text-transform: capitalize;
            }
          }

          & .btn {
            font-size: 0.825rem;

            & path {
              fill: var(--text-disabled);
            }

            &.active {
              opacity: 1;

              & path {
                fill: var(--text-content);
              }
            }
          }

          & > button.handler {
            position: absolute;
            border: none;
            top: 0;
            display: flex;
            justify-content: space-between;
            width: 6px;
            left: 100%;
            transform: translate(-2px, 0px);
            background-color: transparent;
            cursor: w-resize;
            transition: all ease 0.2s;
            z-index: 2;

            &:active {
              width: 12px;
              transform: translate(-6px, 0px);
              & > span {
                background-color: var(--text-content);
              }
            }

            & > span {
              display: block;
              width: 1px;
              height: 100%;
              background-color: var(--text-disabled);
            }
            height: 100%;
          }
        }

        &:first-child {
          border-radius: var(--rounded-box) 0 0 0;
        }
        &:last-child {
          border-radius: 0 var(--rounded-box) 0 0;
        }
      }
    }
  }

  & > tbody {
    & > tr {
      outline: none;
      z-index: 0;
      background-color: var(--base-200);

      & > td {
        height: inherit;
      }

      &:focus-within {
        box-shadow: inset 0px 0px 0px 2px var(--info);

        & > td:hover {
          box-shadow: inset 0px 0px 0px 2px var(--info); /* Inset box shadow */
        }
      }

      & > td:hover {
        background-color: inherit;
        filter: brightness(1.15);
      }
    }

    & > tr:nth-child(odd) {
      background-color: var(--base-300);
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing-xs) / 2);
    background-color: var(--neutral);
    border-radius: 0 0 var(--rounded-box) var(--rounded-box);
    height: var(--spacing-2xl);

    & * {
      color: var(--text-neutral-content);
    }

    & .page {
      font-weight: 700;
    }
  }
}

.table {
  & .cell-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;

    &:has(.content) svg {
      transform: rotateZ(180deg);
    }

    & > .content {
      display: flex;
      margin: var(--spacing-sm);
      padding: var(--spacing-xs);
      flex-direction: column;
      background-color: var(--neutral);
      border-radius: var(--rounded-box);

      & * {
        color: var(--text-neutral-content);
      }

      & li {
        text-align: left;
        &:first-letter {
          text-transform: capitalize;
        }
      }
    }

    &--header {
      display: flex;
      justify-content: space-between;
      margin-top: var(--spacing-xs);
      padding-inline: var(--spacing-xs);
    }

    &:not(:hover) .btn {
      pointer-events: none;
      opacity: 0;
    }
  }
}
