$coffe: (
  primary: #D6822E,
  primary-hover: #de9b58,

  secondary: #192929,
  secondary-hover: #142121,

  neutral: #120c12,
  neutral-hover: #0e0a0e,

  base-200: #211720,
  base-200-hover: #1a121a,

  base-300: #1a121a,
  base-300-hover: #150e15,

  info: #4477ce,
  info-hover: #365fa5,

  danger: #f24c3d,
  danger-hover: #f57064,

  success: #68b984,
  success-hover: #49825c,

  warning: #f2be22,
  warning-hover: #fd8d14,

  text-content: #908a82,
  text-neutral-content: #DCE1E9,
  text-disabled: #514c45,
);
