$forest: (
  primary: #00e2a1,
  primary-hover: #00b581,

  secondary: #0a91c2,
  secondary-hover: #08749b,

  neutral: #37424a,
  neutral-hover: #2c353b,

  base-200: #606c5d,
  base-200-hover: #4d564a,

  base-300: #434c41,
  base-300-hover: #262b25,

  info: #4477ce,
  info-hover: #365fa5,

  danger: #f24c3d,
  danger-hover: #f57064,

  success: #68b984,
  success-hover: #49825c,

  warning: #f2be22,
  warning-hover: #fd8d14,

  text-content: #f8ffe8,
  text-neutral-content: #f3fde8,
  text-disabled: #949989,
);
