$light: (
  primary: #4477ce,
  primary-hover: #365fa5,

  secondary: #7c73c0,
  secondary-hover: #968fcd,

  neutral: #352f44,
  neutral-hover: #2a2636,

  base-200: #dce1e9,
  base-200-hover: #ccd1da,

  base-300: #e3e6eb,
  base-300-hover: #f4f5f7,

  info: #4477ce,
  info-hover: #365fa5,

  danger: #f24c3d,
  danger-info: #f57064,

  success: #68b984,
  success-info: #49825c,

  warning: #f2be22,
  warning-hover: #fd8d14,

  text-content: #352f44,
  text-neutral-content: #dce1e9,

  text-disabled: #9e9fa5,
);
